* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.header {
  background: black;
}
.header ul {
  display: flex;
  justify-content: space-between;
  padding: 10px 25%;
}
button {
  width: 115px;
  height: 40px;
  border: none;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}
.brown {
  background: #523c22;
}
.green {
  background: #175e26;
}
.blue {
  background: rgb(18, 68, 109);
}
.red {
  background: rgb(121, 24, 24);
}
.brown:hover {
  background: #6e5435;
}
.green:hover {
  background: #3ba853;
}
.blue:hover {
  background: rgb(35, 113, 177);
}
.red:hover {
  background: rgb(214, 119, 119);
}
.title-section {
  text-align: center;
}
h1 {
  font-size: 50px;
  padding-top: 20px;
}
h3 {
  padding: 50px 0 0 0;
  text-align: center;
}
.spot {
  display: flex;
  justify-content: space-between;
  padding: 45px 35%;
}
.spot div {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.spot .col-1 {
  background: #3c3c3c;
}
.spot .col-2 {
  background: #6b6b6b;
}
.spot .col-3 {
  background: #f2ecff;
}
.spot .col-4 {
  background: #00c896;
}
.twisted-spot {
  display: flex;
  justify-content: space-between;
  padding: 45px 35%;
}
.twisted-spot div {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.twisted-spot .col-5 {
  background: #3c3c3c;
}
.twisted-spot .col-6 {
  background: #00c896;
}
.twisted-spot .col-7 {
  background: #c8fcea;
}
.twisted-spot .col-8 {
  background: #518071;
}
.switch {
  display: flex;
  justify-content: space-between;
  padding: 45px 35%;
}
.switch div {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.switch .col-9 {
  background: #3c3c3c;
}
.switch .col-10 {
  background: #cacaca;
}
.switch .col-11 {
  background: #00a97f;
}
.switch .col-12 {
  background: #535161;
}
.natural {
  display: flex;
  justify-content: space-between;
  padding: 45px 35%;
}
.natural div {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.natural .col-13 {
  background: #3c3c3c;
}
.natural .col-14 {
  background: #8685ef;
}
.natural .col-15 {
  background: #faf8ff;
}
.natural .col-16 {
  background: #535161;
}
.more-colors {
  display: flex;
  justify-content: space-between;
  padding: 45px 19%;
}
.more-colors div {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.more-colors .col-17 {
  background: #3c3c3c;
}
.more-colors .col-18 {
  background: #54ecc4;
}
.more-colors .col-19 {
  background: #00b38f;
}
.more-colors .col-20 {
  background: #007d5c;
}
.more-colors .col-21 {
  background: #474554;
}
.more-colors .col-22 {
  background: #aca9bb;
}
.more-colors .col-23 {
  background: #654f36;
}
.more-colors .col-24 {
  background: #205b63;
}
